//COLORS
$color-primary: #5AB9EA;
$color-primary-light: #84CEEB;
$color-primary-dark: #5680E9;

$color-secondary-pink: #FF60F6;
$color-secondary-purple: #ffa3fa;
$color-secondary-white: #C1C8E4;

$color-black: #000;
$color-grey-light-1: #f7f7f7;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;