.story{
	padding: 6rem;
	background-color: rgba(255,255,255, .6);
	font-size: $default-font-size;
	width: 75%;
	margin:0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	border-radius: 3px;
	transform: skewX(-12deg);

	@include respond(tab-port){
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
	}

	@include respond(phone){
		transform: skewX(0);
	}

	&__shape{
		width: 15rem;
		height: 15rem;
		background-color: red;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewY(12deg);

		@include respond(phone){
		transform: translateX(-3rem) skewX(0);
	}

	}
	&__img{
		height: 100%;

	}

	&__text{
		transform: skewX(12deg);

		@include respond(phone){
		transform: skewX(0);
	}
	}
}